header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../assets/profile.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.homepage-img {
    opacity: 90%;
}

.exp-logo {
    width: 5em;
}

.contact-me-logos {
    font-size: 3em;
    text-decoration: none !important;
}

.projects-logo {
    font-size: 2em;
    text-decoration: none !important;
}

.projects-logo:hover {
    color: black !important;
}

.contact-me-bg {
    background-color: lightgray;
}

#home-bg {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.typed-cursor {
    opacity: 1;
    color: white;
    font-weight: 100;
    font-size: 3em;
    -webkit-animation: blink .7s infinite;
            animation: blink .7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.name-title {
    color:white;
    font-size:80px;
    font-family: 'Courier New', Courier, monospace;
}

.roles-text {
    color:white;
    font-size: 40px;
}