html {
    scroll-behavior: smooth;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../assets/profile.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

header .nav-item:last-child {
    padding-right: 5.5em;
}

header .nav-item {
    padding: 0.9em;
    font-size: 1.4em;
}

header .nav-link {
    color: white;
}

header .nav-link:hover {
    color: #2867B2;
}

/* my profile pic in vegas */
.homepage-img {
    opacity: 90%;
}

/* all institution logos */
.exp-logo {
    width: 5em;
}

/* linkedin gmail github links at footer */
.contact-me-logos {
    font-size: 3em;
    text-decoration: none !important;
}

/* project github and project link icons */
.projects-logo {
    font-size: 2em;
    text-decoration: none !important;
}

.projects-logo:hover {
    color: black !important;
}
/*------- */


/* text on the home header big image (my name and roles)*/
#home-bg {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*cursor typing and deleting on homepage */
.typed-cursor {
    opacity: 1;
    color: white;
    font-weight: 100;
    font-size: 3em;
    -webkit-animation: blink .7s infinite;
            animation: blink .7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* cursor css ends */

/* Namratha pashupathy manjula devi */
.name-title {
    color:white;
    font-size:80px;
    font-family: 'Courier New', Courier, monospace;
}

/* fullstack engineer | dance enthusiast | dog lover */
.roles-text {
    color:white;
    font-size: 40px;
}

/* section 1 */
.section-1 {
    padding: 20vmin 0;
}

/* about me text */
.section-1 .row .col-md-6:last-child {
    position: relative;
}

/* about me text */
.section-1 .row .col-md-6 .panel{
    position: absolute;
    top: 4vmin;
    bottom: 5vmin;
    left: -8vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 1vmin 3vmin 2vmin 3vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel p {
    color: #748182;
}

/* section 3 projects */
.section-3 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-3 .card {
    width: 30rem;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
}

.section-3 .card .card-text{
    padding: 0.5em;
    color: #748182;
}

footer {
    background:  rgba(0,0,0,0.815);
    overflow-x: hidden;
    padding: 3vmin 3vmin 3vmin 3vmin;
}

.section-3 .card img{  
    width: 400px;
    height: 250px;
}

/* footer up arrow button that takes you to top of page */
.section-3 #back-to-top {
    text-align: center;
    font-size: xx-large;
}

.section-3 #back-to-top a{
text-decoration: none;
color: gray
}

